* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.container {
  position: absolute;
  left: 22cm;
  top: 5cm;
  box-sizing: border-box;
  width: 200px;
  max-width: 100%;
}

form {
  padding: 20px;
}

.form-control {
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #dddada;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 150%;
  padding: 10px;
}

/*botao*/

.form button {
  background-color: rgb(40, 33, 58);
  border: 2px solid rgb(40, 33, 58);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 16px;
  width: 150%;
  padding: 12px;
  letter-spacing: 2px;
}

/*Cartões*/

.cartaofrente {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 15%;
}

.cartaoverso {
  position: absolute;
  top: 55%;
  left: 20%;
}

/*.textonocartao {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 20%;
  color: rgb(250, 250, 250);
}
*/

#number {
  color: blue;
}
